* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "SourceSans3", sans-serif;
  background-color: #e6ecf2;
  overflow: hidden;
}
.borad-5 {
  border-radius: 5px;
}
.borbot-1 {
  border-bottom: 1px solid #e6ecf2;
}
.bortopbot-1 {
  border-top: 1px solid #e6ecf2;
  border-bottom: 1px solid #e6ecf2;
}
.cursor-pointer {
  cursor: pointer;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fz-10 {
  font-size: 10px;
}
.fz-11 {
  font-size: 11px;
}
.fz-12 {
  font-size: 12px;
}
.fz-13 {
  font-size: 13px;
}
.fz-14 {
  font-size: 14px;
}
.h-100vh {
  height: 100vh;
}
.bg-black {
  background-color: #2d3135;
}
.bg-young-blue {
  background: #f5f7fa !important;
}
.text-black {
  color: #2d3135;
}
.text-gray {
  font-weight: 700;
  color: #64686e;
}
.text-gray-old {
  color: #8b98a6;
}
.navbar-side1 .nav-item a {
  color: #adb8bc;
}
.isActive {
  color: #fff !important;
}
.navbar-side1 .nav-item a:hover {
  color: #fff;
}
.navbar-side2 .nav-item a {
  color: #616d7a;
  font-size: 13px;
  font-weight: 400;
}
.navbar-side2 .nav-item {
  border-bottom: 1px #e6ecf2 solid;
}
.fixed-left1 {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2d3135;
  width: 160px;
  z-index: 2;
  transition: width 0.2s ease;
  overflow: hidden;
}
.fixed-left1.collapsed {
  width: 60px !important;
  text-align: center;
}
.fixed-left1.collapsed .nav-link-flex {
  justify-content: center;
}
.fixed-left2 {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 300px;
  z-index: 1;
  transition: width 0.2s ease;
  overflow: hidden;
}
.fixed-left2.collapsed {
  width: 0 !important;
}
#wrapper-collapseSidebar2-2 {
  margin-bottom: -60px;
  transition: margin-bottom 0.1s ease;
}
.isSelected {
  background-color: #eff3f7;
}
.isSelected a {
  font-weight: 600 !important;
  color: #2d3135 !important;
}
.content {
  background-color: #e6ecf2;
  overflow-y: auto;
  height: 100vh;
}
.span-content-1 {
  color: #2d3640;
  font-size: 11pt;
}
.img-logo {
  float: right;
  width: 180px;
  padding-left: 40px;
  font-size: 0;
}
.you-tube-video {
  overflow: hidden;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}
.you-tube-video .video-image {
  position: relative;
  float: left;
  height: 73px;
  width: 130px;
  font-size: 0;
  border-radius: 4px;
  overflow: hidden;
}
.you-tube-video .video-image img {
  width: 100%;
  height: 100%;
}
.you-tube-video .video-image svg {
  height: 36px;
  width: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff !important;
}
.you-tube-video .video-info .video-info-container {
  display: table;
  height: 73px;
}
.you-tube-video .video-info .video-info-text-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.you-tube-video .video-info .video-title {
  font-size: 15px;
  color: #2d3135;
  font-weight: 600;
}
.you-tube-video .video-info .video-meta {
  margin-top: 4px;
  font-size: 13px;
  color: #2d3640;
}
.you-tube-video .video-info .video-meta > div {
  display: inline;
  position: relative;
  padding-right: 6px;
  height: 100%;
}
.you-tube-video .video-info .video-meta .circle-fill-3-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #fff;
  vertical-align: top;
  transform: translate(-50%, -50%);
  margin-left: -1px;
  margin-top: -1px;
}
.icon-video-play {
  background-color: #3ab7ef;
  color: #fff !important;
  border-radius: 5px;
}
.img-logo-small {
  width: 18px;
}
#list-search {
  background: transparent;
}
#list-search:hover {
  background: #2fb2ed;
}
#list-search:hover span {
  color: #fff;
}
.bg-title {
  background-color: #fafbfc;
}
.activeBottomMenu {
  color: #30b2ee;
}
.wrapper-img {
  width: 60px;
  height: auto;
}
.img-avatar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.offcanvas {
  width: 44px !important;
  height: 100vh !important;
  bottom: 0 !important;
}
.offcanvas-backdrop {
  background-color: transparent;
}
